@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    min-width: 320px;
    background-color: rgb(2 6 23);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button,
  input {
    font: inherit;
  }
}